<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ 'grid grid-cols-card': fullWidthMode }">
    <img
      data-testid="tid-image"
      [src]="product.image"
      [alt]="product.title"
      class="object-contain mx-auto"
      [ngClass]="{
        'h-52 w-full rounded-t': !fullWidthMode,
        'h-80 rounded-tl rounded-bl': fullWidthMode
      }"
    />
    <div
      [ngClass]="{
        'p-6 flex flex-col justify-between': fullWidthMode,
        'p-3': !fullWidthMode
      }"
    >
      <div>
        <h5 data-testid="tid-category">{{ product.category | titlecase }}</h5>
        <p
          data-testid="tid-title"
          [ngClass]="{ 'truncate hover:whitespace-normal': !fullWidthMode }"
        >
          {{ product.title }}
        </p>
        <p data-testid="tid-description" *ngIf="fullWidthMode">
          {{ product.description }}
        </p>
      </div>
      <div class="flex justify-between items-center">
        <span data-testid="tid-price" class="text-red-400">
          {{ product.price | currency : "INR" }}
        </span>
        <button
          data-testid="tid-add-to-cart"
          class="flex"
          (click)="onAddToCart()"
        >
          <mat-icon class="text-gray-500"> shopping_cart </mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
