<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ 'grid grid-cols-card': fullWidthMode }">
    <img
      [src]="product.image"
      [alt]="product.title"
      class="object-contain mx-auto"
      [ngClass]="{
        'h-[200px] w-full rounded-t': !fullWidthMode,
        'h-[300px] rounded-tl rounded-bl': fullWidthMode
      }"
    />
    <div
      [ngClass]="{
        'p-6 flex flex-col justify-between': fullWidthMode,
        'p-3': !fullWidthMode
      }"
    >
      <div>
        <h5>{{ product.category | titlecase }}</h5>
        <p [ngClass]="{ 'truncate hover:whitespace-normal': !fullWidthMode }">
          {{ product.title }}
        </p>
        <p *ngIf="fullWidthMode">
          {{ product.description }}
        </p>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-red-400">
          {{ product.price | currency : "INR" }}
        </span>
        <button class="flex" (click)="onAddToCart()">
          <mat-icon class="text-gray-500"> shopping_cart </mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
