<mat-toolbar class="max-w-7xl mx-auto border-x justify-between">
  <a class="flex items-center gap-2" routerLink="home"
    >Flopkart <mat-icon>home</mat-icon></a
  >
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="itemsQuantity === 0"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu class="cart-menu-panel">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16"
          >{{ itemsQuantity }}
          {{ itemsQuantity === 1 ? "item" : "items" }}</span
        >
        <a routerLink="cart">View Cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div
          *ngFor="let item of cart.items"
          class="flex justify-between gap-3 font-light mb-2"
        >
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold">{{ item.price | currency : "INR" }}</span>
        </div>
      </div>
      <div
        class="flex justify-between font-light"
        [ngClass]="{ 'pt-3': itemsQuantity === 0, 'py-3': itemsQuantity !== 0 }"
      >
        Total:
        <span data-testid="tid-total" class="font-bold">{{
          getTotal() | currency : "INR"
        }}</span>
      </div>
      <div *ngIf="itemsQuantity !== 0" class="pt-3 flex justify-between">
        <button
          data-testid="tid-clear-cart"
          (click)="onClearCart()"
          class="flex items-center justify-center bg-rose-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button
          data-testid="tid-checkout"
          (click)="onCheckout()"
          class="flex items-center justify-center bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
