<mat-card class="mb-4 p-4">
  <div class="flex justify-between">
    <div>
      <button
        data-testid="tid-sort-by"
        mat-button
        [matMenuTriggerFor]="sortByMenu"
      >
        Sort by {{ sort === "desc" ? "Descending" : "Ascending" }}
      </button>
      <mat-menu #sortByMenu>
        <button
          data-testid="tid-desc"
          (click)="onSortUpdated('desc')"
          mat-menu-item
        >
          Descending
        </button>
        <button
          data-testid="tid-asc"
          (click)="onSortUpdated('asc')"
          mat-menu-item
        >
          Ascending
        </button>
      </mat-menu>
    </div>
    <div class="flex items-center space-x-2">
      <div>
        <button
          data-testid="tid-show-count"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          Show {{ itemsShowCount }}
        </button>
        <mat-menu #menu>
          <button
            data-testid="tid-count-12"
            (click)="onItemsUpdated(12)"
            mat-menu-item
          >
            12
          </button>
          <button
            data-testid="tid-count-24"
            (click)="onItemsUpdated(24)"
            mat-menu-item
          >
            24
          </button>
          <button
            data-testid="tid-count-36"
            (click)="onItemsUpdated(36)"
            mat-menu-item
          >
            36
          </button>
        </mat-menu>
      </div>
      <button
        data-testid="tid-cols-1"
        class="flex items-center"
        (click)="onColumnsUpdated(1)"
      >
        <mat-icon>view_list</mat-icon>
      </button>
      <button
        data-testid="tid-cols-3"
        class="flex items-center"
        (click)="onColumnsUpdated(3)"
      >
        <mat-icon>view_module</mat-icon>
      </button>
      <button
        data-testid="tid-cols-4"
        class="flex items-center"
        (click)="onColumnsUpdated(4)"
      >
        <mat-icon>view_comfy</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
