<mat-expansion-panel [disabled]="categories.length === 0">
  <mat-expansion-panel-header
    [ngClass]="{ 'cursor-auto': categories.length === 0 }"
  >
    <mat-panel-title>{{ "categories" | uppercase }}</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onShowCategory($event)"
  >
    <mat-list-option *ngFor="let category of categories" [value]="category">
      {{ category | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
